@font-face {
    font-family: Avenire-Next;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

.home_main_section{
    background-image: url('../images/makan-hero-bg.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    h1{
        font-family: 'Avenire-Next';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 98.5%;
        color: #000000;

        .text-yellow {
            color: #F7AD1D;
        }
    }

    p {
        font-family: 'Readex Pro';
        font-weight: 400;
        color: #000000;
        font-size: 20px;
    }
    .slider_content_wrap{
        padding-bottom: 75px;
    }
    .content_wrappeer{
        padding: 0 50px;
    }
    button.btn.primary_btn.btn_icon {
        margin-top: 50px;
        background-color: #F7AD1D;
        color: #fff;
        width: 224px;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 28px;
        font-family: 'poppins';
        font-size: 19.451px;
        box-shadow: 0px 28px 47px rgba(224, 183, 144, 0.6);
        span {
            background-color: #F36523;
            position: absolute;
            top: -1px;
            right: 0;
            padding: 7px;
            border-radius: 50px;
            width: 44px;
            height: 44px;
        }
    
    }
}






.hero_slider  .slick-prev, .hero_slider .slick-next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    z-index: 9;
    visibility: hidden;
    z-index: 9999;
  
}
.hero_slider .slick-next{
    left: unset;
    right: -10px;
}
.hero_slider .slick-prev::before, .hero_slider .slick-next::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url('../images/slider_left.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    opacity: 1;
    position: absolute;
    left: -25px;
    visibility: visible;
    background-color: #FFF;
    border-radius: 50%;
}


.hero_slider .slick-next::before {
    background-image: url('../images/slider_right.svg');
    left: unset;
    right: -25px;
}

.properties_inner_crousal .slick-prev, .properties_inner_crousal .slick-next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 9;
    visibility: hidden;
    z-index: 9999;
  
}
.properties_inner_crousal .slick-next{
    left: unset;
    right: 10px;
}









.customer-logos  .slick-prev, .customer-logos .slick-next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    z-index: 9;
    visibility: hidden;
    z-index: 9999;
  
}
.customer-logos .slick-next{
    left: unset;
    right: -10px;
}
.customer-logos .slick-prev::before, .customer-logos .slick-next::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url('../images/previous.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    opacity: 1;
    position: absolute;
    left: -5px;
    visibility: visible;
    background-color: #F36523;
    border-radius: 50%;
}


.customer-logos .slick-next::before {
    background-image: url('../images/next.svg');
    left: unset;
    right: -5px;
}

.customer-logos .slick-prev, .customer-logos .slick-next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 9;
    visibility: hidden;
    z-index: 9999;
  
}
.customer-logos .slick-next{
    left: unset;
    right: 10px;
}

@media only screen and (max-width: 1200px) {
    .home_main_section h1 {
        font-family: 'Avenire-Next';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 98.5%;
        color: #000000;
    }

    .home_main_section button.btn.primary_btn.btn_icon {
        width: 150px;
    }

    .home_main_section button.btn.primary_btn.btn_icon span {
        top: -1px;
        right: -1px;
    }
}