.our__partners {
    .title-partners {
        color: #000000;
        font-family: 'Readex Pro';
        font-size: 40px;
    }
    .subheading-partners {
        color: #666666;
        font-family: 'Readex Pro';
        font-weight: 200;
        font-size: 18px;
    }
    .customer-logos {
        .slide {
            img {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                object-fit: contain;
            }
        }
    }
}