* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

.logo_header {
  max-width: 130px;
}

.logo_header {
  max-width: 130px;
}

nav {
  font-family: 'Readex Pro', sans-serif;
}

.navbar-nav {
  gap: 5px;
}

.navbar-nav .nav-item .nav-link {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.navbar-nav .nav-item .nav-link .globe_img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar-nav .nav-item .nav-link:hover {
  background: #F36523;
  border-radius: 57px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.navbar-nav .nav-item .nav-link:hover .globe_img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(110%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(110%) contrast(101%);
}

/*
.globe_before {

    position: relative;

    &::before{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        background-image: url('../images/globe.svg');
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
    }
}
*/
@media (max-width: 1050px) {
  .side_links {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 120px;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .navbar-nav .nav-item .nav-link {
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .navbar-nav .nav-item .nav-link:hover {
    background: #F36523;
    border-radius: 0px;
  }
}

.home_main_section {
  background-image: url("../images/makan-hero-bg.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.home_main_section h1 {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 98.5%;
  color: #000000;
}
