* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
}

img {
  width: 100%;
  max-width: 100%;
}

.logo_header {
  max-width: 130px;
}

.heading_main_section {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  color: #000000;
}

.subtext_para {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #666666;
}

.logo_header {
  max-width: 130px;
}

nav {
  font-family: 'Readex Pro', sans-serif;
}

.navbar-nav {
  gap: 5px;
}

.navbar-nav .nav-item .nav-link {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.navbar-nav .nav-item .nav-link .globe_img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar-nav .nav-item .nav-link:hover {
  background: #F36523;
  border-radius: 57px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.navbar-nav .nav-item .nav-link:hover .globe_img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(110%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(110%) contrast(101%);
}

/*
.globe_before {

    position: relative;

    &::before{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        background-image: url('../images/globe.svg');
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
    }
}
*/
.dropdown-menu.open_mega {
  min-width: 60vw;
}

.border_mega {
  border-right: 1px solid #EDEDED;
}

.accordion_menu_single {
  margin: 20px 0px;
}

.accordion_menu_single a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  width: 90%;
}

.accordion_menu_single a:hover {
  color: #F36523;
}

.accordion_menu_single a.active {
  color: #F36523;
}

.heading_mega_single h4 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 0px;
}

.heading_mega_single p {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #333333;
}

.pages_list_mega {
  list-style: none;
  padding: 0;
}

.pages_list_mega li {
  margin: 10px 0px;
}

.pages_list_mega li a {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

@media (max-width: 1050px) {
  .side_links {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 120px;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .navbar-nav .nav-item .nav-link {
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .navbar-nav .nav-item .nav-link:hover {
    background: #F36523;
    border-radius: 0px;
  }
}

@font-face {
  font-family: Avenire-Next;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

.home_main_section {
  background-image: url("../images/makan-hero-bg.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.home_main_section h1 {
  font-family: 'Avenire-Next';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 98.5%;
  color: #000000;
}

.home_main_section h1 .text-yellow {
  color: #F7AD1D;
  -webkit-text-stroke: 1px black;
}

.home_main_section p {
  font-family: 'Readex Pro';
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}

.home_main_section .slider_content_wrap {
  padding-bottom: 75px;
}

.home_main_section .content_wrappeer {
  padding: 0 50px;
}

.home_main_section button.btn.primary_btn.btn_icon {
  margin-top: 50px;
  background-color: #F7AD1D;
  color: #fff;
  width: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-radius: 28px;
  font-family: 'poppins';
  font-size: 19.451px;
  -webkit-box-shadow: 0px 28px 47px rgba(224, 183, 144, 0.6);
          box-shadow: 0px 28px 47px rgba(224, 183, 144, 0.6);
}

.home_main_section button.btn.primary_btn.btn_icon span {
  background-color: #F36523;
  position: absolute;
  top: -1px;
  right: 0;
  padding: 7px;
  border-radius: 50px;
  width: 44px;
  height: 44px;
}

.hero_slider .slick-prev, .hero_slider .slick-next {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  z-index: 9999;
}

.hero_slider .slick-next {
  left: unset;
  right: -10px;
}

.hero_slider .slick-prev::before, .hero_slider .slick-next::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../images/slider_left.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 1;
  position: absolute;
  left: -25px;
  visibility: visible;
  background-color: #FFF;
  border-radius: 50%;
}

.hero_slider .slick-next::before {
  background-image: url("../images/slider_right.svg");
  left: unset;
  right: -25px;
}

.properties_inner_crousal .slick-prev, .properties_inner_crousal .slick-next {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  z-index: 9999;
}

.properties_inner_crousal .slick-next {
  left: unset;
  right: 10px;
}

.customer-logos .slick-prev, .customer-logos .slick-next {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  z-index: 9999;
}

.customer-logos .slick-next {
  left: unset;
  right: -10px;
}

.customer-logos .slick-prev::before, .customer-logos .slick-next::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../images/previous.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 1;
  position: absolute;
  left: 10px;
  visibility: visible;
  background-color: #F36523;
  border-radius: 50%;
}

.customer-logos .slick-next::before {
  background-image: url("../images/next.svg");
  left: unset;
  right: 10px;
}

.customer-logos .slick-prev, .customer-logos .slick-next {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  z-index: 9999;
}

.customer-logos .slick-next {
  left: unset;
  right: 10px;
}

@media only screen and (max-width: 1200px) {
  .home_main_section h1 {
    font-family: 'Avenire-Next';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 98.5%;
    color: #000000;
  }
  .home_main_section button.btn.primary_btn.btn_icon {
    width: 150px;
  }
  .home_main_section button.btn.primary_btn.btn_icon span {
    top: -1px;
    right: -1px;
  }
}

.customer__testimonials {
  background-image: url(../images/testimonials_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #f6f6f6;
}

.customer__testimonials h2 {
  font-family: 'Readex Pro';
  font-size: 40px;
}

.customer__testimonials h6 {
  font-family: 'Readex Pro';
  color: #666666;
  font-weight: lighter;
  font-size: 18px;
}

.customer__testimonials .testimonial__card {
  padding: 30px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-top: 15%;
  -webkit-box-shadow: 0px 19.617px 68.6596px 3.2695px rgba(162, 171, 174, 0.13);
          box-shadow: 0px 19.617px 68.6596px 3.2695px rgba(162, 171, 174, 0.13);
}

.customer__testimonials .testimonial__card h3 {
  font-family: 'Readex Pro';
  font-weight: 500;
  font-size: 23px;
}

.customer__testimonials .testimonial__card img.rating {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  margin: 15px 0;
}

.customer__testimonials .testimonial__card img.person {
  width: 35px;
  height: 35px;
}

.customer__testimonials .testimonial__card_2 {
  padding: 30px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 19.617px 68.6596px 3.2695px rgba(162, 171, 174, 0.13);
          box-shadow: 0px 19.617px 68.6596px 3.2695px rgba(162, 171, 174, 0.13);
}

.customer__testimonials .testimonial__card_2 h3 {
  font-family: 'Readex Pro';
  font-weight: 500;
  font-size: 23px;
}

.customer__testimonials .testimonial__card_2 img.rating {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  margin: 15px 0;
}

.customer__testimonials .testimonial__card_2 img.person {
  width: 35px;
  height: 35px;
}

.customer__testimonials .testimonial__card_3 {
  padding: 30px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-top: 15%;
  -webkit-box-shadow: 0px 19.617px 68.6596px 3.2695px rgba(162, 171, 174, 0.13);
          box-shadow: 0px 19.617px 68.6596px 3.2695px rgba(162, 171, 174, 0.13);
}

.customer__testimonials .testimonial__card_3 h3 {
  font-family: 'Readex Pro';
  font-weight: 500;
  font-size: 23px;
}

.customer__testimonials .testimonial__card_3 img.rating {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  margin: 15px 0;
}

.customer__testimonials .testimonial__card_3 img.person {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 1200px) {
  .testimonial__card, .testimonial__card_2, .testimonial__card_3 {
    margin-top: 10px !important;
  }
}

.crousal_section_properties {
  background-color: #F8F8F8;
}

.img_wrap_crousal {
  width: 100%;
  position: relative;
}

.properties_single_outter {
  background-color: #FFF;
  padding: 15px;
  padding-bottom: 0;
  margin: 0px 10px;
  position: relative;
}

.properties_inner_crousal {
  position: relative;
}

.content_properties {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  margin: 15px;
}

.content_properties h3 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
  z-index: 9;
}

.content_properties .categories_properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.content_properties .categories_properties .heart_wrap {
  background-color: #F36523;
  border-radius: 50%;
  padding: 5px;
  width: 37px;
  height: 37px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_properties .categories_properties .heart_wrap img {
  width: 20px;
}

.content_properties .categories_properties .btn_outter_properties {
  background: #FFFFFF;
  border-radius: 45px;
  padding: 5px;
  width: 80px;
  height: 37px;
  text-align: center;
}

.content_properties .categories_properties .btn_outter_properties a {
  font-family: 'Poppins';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.properties_crousal .slick-prev, .properties_crousal .slick-next {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  z-index: 9999;
}

.properties_crousal .slick-next {
  left: unset;
  right: 0px;
}

.properties_crousal .slick-prev::before, .properties_crousal .slick-next::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../images/slider_left.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 1;
  position: absolute;
  left: -25px;
  visibility: visible;
  background-color: #FFF;
  border-radius: 50%;
}

.properties_crousal .slick-next::before {
  background-image: url("../images/slider_right.svg");
  left: unset;
  right: -25px;
}

.properties_inner_crousal .slick-prev, .properties_inner_crousal .slick-next {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  z-index: 9999;
}

.properties_inner_crousal .slick-next {
  left: unset;
  right: 10px;
}

.properties_inner_crousal .slick-prev::before, .properties_inner_crousal .slick-next::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../images/slider_left.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 1;
  position: absolute;
  left: 0px;
  visibility: visible;
  background-color: #FFF;
  border-radius: 50%;
}

.properties_inner_crousal .slick-next::before {
  background-image: url("../images/slider_right.svg");
  left: unset;
  right: 0px;
}

.properties_inner_crousal {
  height: 300px;
}

.properties_inner_crousal .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  gap: 5px;
  list-style: none;
  cursor: pointer;
}

.properties_inner_crousal .slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 50%;
}

.properties_inner_crousal .slick-dots li button {
  visibility: hidden;
}

.properties_inner_crousal .slick-dots li.slick-active {
  background-color: #F4BD00;
}

.content_crousal_single .para_content_single {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #333333;
}

.content_crousal_single .location_outter img {
  width: 15px;
}

.learn_more_outter a span {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.learn_more_outter a img {
  width: 14px;
}

.border_hr_crousal {
  width: 100%;
  height: 1px;
  background-color: #DADADA;
}

.property_detail_outter {
  margin-top: 20px;
}

.property_detail_outter .detail_icon_outter {
  min-width: 55px;
  text-align: center;
}

.property_detail_outter .detail_icon_outter h4 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
}

.price_outter {
  background-color: #FDC300;
  margin-left: -15px;
  margin-right: -15px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.price_outter h3 {
  padding-left: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.our__partners {
  background-color: #F8F8F8;
}

.our__partners .title-partners {
  color: #000000;
  font-family: 'Readex Pro';
  font-size: 40px;
}

.our__partners .subheading-partners {
  color: #666666;
  font-family: 'Readex Pro';
  font-weight: 200;
  font-size: 18px;
}

.our__partners .customer-logos {
  background-color: #fff;
  -webkit-box-shadow: 0px 18px 63px 3px rgba(162, 171, 174, 0.13);
          box-shadow: 0px 18px 63px 3px rgba(162, 171, 174, 0.13);
  border-radius: 12px;
}

.our__partners .customer-logos .slide img {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-color: #FFF;
}

.link_footer_wrap h4 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.link_footer_wrap ul {
  list-style-type: none;
}

.link_footer_wrap ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  text-decoration: none;
  color: #000000;
  margin: 10px 0px;
}

.link_footer_wrap ul li a span {
  margin-left: 7px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.link_footer_wrap ul li a:hover {
  text-decoration: underline;
}

.subscrible__footer h4 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.subscrible__footer .input__wrapper {
  position: relative;
}

.subscrible__footer .input__wrapper .input_email {
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 13px 19px #F1F1F1;
          box-shadow: 0px 13px 19px #F1F1F1;
  border-radius: 58px;
  padding: 15px;
}

.subscrible__footer .input__wrapper .btn_submit {
  width: 47px;
  height: 47px;
  border: 0;
  border-radius: 50%;
  background: #F36523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscrible__footer .input__wrapper .btn_submit img {
  width: 30px;
}

.footer_social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer_social_links a {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    width: 50% !important;
    margin-right: auto;
  }
  .subscrible__footer h4 {
    margin-top: 20px;
    margin-bottom: 10px !important;
  }
}

.search_row {
  max-width: 1560px;
  background: #FDC300;
  -webkit-box-shadow: 0px 17.2265px 60.2928px 2.87109px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 17.2265px 60.2928px 2.87109px rgba(0, 0, 0, 0.05);
  border-radius: 11.4843px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_row .search_wrap_main {
  padding: 35px 20px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_row .search_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27%;
  margin: 0 2%;
}

.search_row .search_field label {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.search_row .search_field.search_btn_wrap {
  width: 15%;
}

.select2-container .select2-selection--single {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 33.496px 44.9804px #f4a100;
          box-shadow: 0px 33.496px 44.9804px #f4a100;
  border-radius: 11.4843px !important;
  border: none !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 13px !important;
}
/*# sourceMappingURL=main.css.map */