* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

.logo_header {
  max-width: 130px;
}

.logo_header {
  max-width: 130px;
}

nav {
  font-family: 'Readex Pro', sans-serif;
}

.navbar-nav {
  gap: 5px;
}

.navbar-nav .nav-item .nav-link {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.navbar-nav .nav-item .nav-link .globe_img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar-nav .nav-item .nav-link:hover {
  background: #F36523;
  border-radius: 57px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.navbar-nav .nav-item .nav-link:hover .globe_img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(110%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(110%) contrast(101%);
}

/*
.globe_before {

    position: relative;

    &::before{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        background-image: url('../images/globe.svg');
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
    }
}
*/
@media (max-width: 1050px) {
  .side_links {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 120px;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .navbar-nav .nav-item .nav-link {
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .navbar-nav .nav-item .nav-link:hover {
    background: #F36523;
    border-radius: 0px;
  }
}

.home_main_section {
  background-image: url("../images/makan-hero-bg.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.home_main_section h1 {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 98.5%;
  color: #000000;
}

.customer__testimonials {
  background-image: url(../images/testimonials_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #f6f6f6;
}

.customer__testimonials h2 {
  font-family: 'Readex Pro';
  font-size: 40px;
}

.customer__testimonials h6 {
  font-family: 'Readex Pro';
  color: #666666;
  font-weight: lighter;
  font-size: 18px;
}

.customer__testimonials .testimonial__card {
  padding: 30px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-top: 15%;
}

.customer__testimonials .testimonial__card h3 {
  font-family: 'Readex Pro';
  font-weight: 500;
  font-size: 23px;
}

.customer__testimonials .testimonial__card img.rating {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.customer__testimonials .testimonial__card img.person {
  width: 35px;
  height: 35px;
}

.customer__testimonials .testimonial__card_2 {
  padding: 30px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.customer__testimonials .testimonial__card_2 h3 {
  font-family: 'Readex Pro';
  font-weight: 500;
  font-size: 23px;
}

.customer__testimonials .testimonial__card_2 img.rating {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.customer__testimonials .testimonial__card_2 img.person {
  width: 35px;
  height: 35px;
}

.customer__testimonials .testimonial__card_3 {
  padding: 30px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-top: 15%;
}

.customer__testimonials .testimonial__card_3 h3 {
  font-family: 'Readex Pro';
  font-weight: 500;
  font-size: 23px;
}

.customer__testimonials .testimonial__card_3 img.rating {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.customer__testimonials .testimonial__card_3 img.person {
  width: 35px;
  height: 35px;
}

.link_footer_wrap h4 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.link_footer_wrap ul {
  list-style-type: none;
}

.link_footer_wrap ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  text-decoration: none;
  color: #000000;
  margin: 10px 0px;
}

.link_footer_wrap ul li a span {
  margin-left: 7px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.link_footer_wrap ul li a:hover {
  text-decoration: underline;
}

.subscrible__footer h4 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.subscrible__footer .input__wrapper {
  position: relative;
}

.subscrible__footer .input__wrapper .input_email {
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 13px 19px #F1F1F1;
          box-shadow: 0px 13px 19px #F1F1F1;
  border-radius: 58px;
  padding: 15px;
}

.subscrible__footer .input__wrapper .btn_submit {
  width: 47px;
  height: 47px;
  border: 0;
  border-radius: 50%;
  background: #F36523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscrible__footer .input__wrapper .btn_submit img {
  width: 30px;
}

.footer_social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer_social_links a {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */